.root{
    -fx-background-image: url("assets/opaa_bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1050 650;
    -fx-background-position: center center;
}

.mainMenuRoot{
    -fx-background-image: url("assets/main_menu_bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
}

.titleLabel{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 32;
    -fx-text-fill: #46694A;
}

.textLabel{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 24;
    -fx-text-fill: #46694A;
}

.headerLabel{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 18;
    -fx-text-fill: #46694A;
}

.usernameLabel{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 48;
    -fx-text-fill: #46694A;
}

.changePasswordLabel{
    -fx-text-alignment: center;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 18;
    -fx-text-fill: #46694A;
}

.txtFld {
    -fx-background-color: transparent;
    -fx-border-color: #46694A;
    -fx-border-radius: 10;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 14;
    -fx-text-fill: #46694A;
    -fx-alignment: center;
}

.button{
    -fx-background-color: #006937;
    -fx-background-radius: 10;
    -fx-font-family: "Lucida Sans";
    -fx-text-fill: White;
    -fx-font-size: 14;
}

.adminPicButton {
    -fx-background-color: white;
    -fx-background-image: url("assets/dpGirl.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 110 110;
    -fx-background-radius: 115;
}

.profileButton {
    -fx-font-family: "Arial Black";
    -fx-text-fill: White;
    -fx-font-size: 24;
}

.backButton {
    -fx-background-color: white;
    -fx-background-image: url("assets/backButton.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 40 40;
    -fx-background-radius: 115;
}

.addButton {
    -fx-background-color: white;
    -fx-background-image: url("assets/addButton.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 50 50;
    -fx-background-radius: 115;
}

.homeButton {
    -fx-background-color: white;
    -fx-background-image: url("assets/opaa_logo.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 280 100;
    -fx-background-position: center center;
    -fx-background-radius: 115;
}

.calendarButton {
    -fx-font-family: "Arial Black";
    -fx-text-fill: White;
    -fx-font-size: 24;
}

.calendarButton:hover {
    -fx-background-color: #6a986d;
}

.meetingsButton {
    -fx-font-family: "Arial Black";
    -fx-text-fill: White;
    -fx-font-size: 24;
}

.meetingsButton:hover {
    -fx-background-color: #6a986d;
}

.gradesButton {
    -fx-font-family: "Arial Black";
    -fx-text-fill: White;
    -fx-font-size: 24;
}

.gradesButton:hover {
    -fx-background-color: #6a986d;
}

.loginButton {
    -fx-background-color: #006937;
    -fx-background-radius: 10;
    -fx-font-family: "Lucida Sans";
    -fx-text-fill: White;
    -fx-font-size: 14;
}

.loginButton:hover{
    -fx-background-color: #6a986d;
}

.logoutButton {
    -fx-font-family: "Arial Black";
    -fx-text-fill: White;
    -fx-font-size: 16;
}

.logoutButton:hover {
    -fx-background-color: #6a986d;
}

.welcomeTitleLabel {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 48;
    -fx-text-fill: #46694A;
}

.notificationsTitleLabel {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 32;
    -fx-text-fill: #46694A;
}

.listViewNotifs {
    -fx-background-color: white;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 18;
    -fx-text-background-color: #46694A;
    -fx-border-color: White;
    -fx-selection-bar: #99e29d;
    -fx-selection-bar-non-focused: #bbe2bd;
}

.list-view .virtual-flow .scroll-bar:vertical,
.list-view .virtual-flow .scroll-bar:vertical .track,
.list-view .virtual-flow .scroll-bar:vertical .track-background,
.list-view .virtual-flow .scroll-bar:horizontal,
.list-view .virtual-flow .scroll-bar:horizontal .track,
.list-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar .increment-button,
.list-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #46694A;
}
.list-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #46694A;
}

.requestMeetingTitleLabel {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 48;
    -fx-text-fill: white;
}

.datesTxtFld {
    -fx-background-color: transparent;
    -fx-border-color: #46694A;
    -fx-border-radius: 10;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 20;
    -fx-text-fill: #46694A;
    -fx-alignment: center;
}

.dateLabel{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 36;
    -fx-text-fill: #46694A;
}

.table-view {
    -fx-background-color: rgba(74, 110, 78, 0.15);
    -fx-background-radius: 7px 7px 7px 7px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    -fx-font-family: "Calibri Light";
    -fx-text-background-color: #46694A;
    -fx-font-size: 18;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #46694A;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 5px 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-family: "Lucida Sans";
    -fx-text-background-color: white;
    -fx-font-size: 14;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .table-column {
    -fx-alignment: BASELINE_CENTER;
}

.table-view .table-column:selected {
    -fx-alignment: BASELINE_CENTER;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #46694A;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #46694A;
}

.table-row-cell:selected {
    -fx-background-color: #6a986d;
    -fx-background-radius: 7px;
    -fx-text-background-color: white;
    -fx-background-insets: 0 11px 0 0;
}

.requestMeetingContent{
    -fx-background-color: rgba(74, 110, 78, 0.1);
    -fx-background-radius: 20px 20px 20px 20px;
}

.requestMeetingHeader{
    -fx-background-color: #46694A;
    -fx-background-radius: 20px 20px 0px 0px;
}

.choice-box {
    -fx-mark-color: #46694A;
}

.choice-box .context-menu {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 14;
}

.choice-box .menu-item:focused { -fx-background-color: #6a986d; }

.date-picker {
    -fx-background-color: white;
    -fx-border-color: white;
}

.date-picker > .text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: transparent;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker-popup .calendar-grid {
    -fx-pref-width: 500.0;
    -fx-pref-height: 230.0;
    -fx-background-color: rgba(74, 110, 78, 0.15);
    -fx-background-radius: 7px 7px 7px 7px;
    -fx-border-color: transparent;
}

.date-picker > .arrow-button {
    -fx-background-color: #006937;
    -fx-background-radius: 10 10 10 10;
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image: url("assets/calendar.png");
}

.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em;
    -fx-background-color: #6a986d;
    -fx-font-family: "Calibri Light";
    -fx-text-background-color: White;
    -fx-font-size: 24;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: #006937;
    -fx-background-radius: 7px;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #46694A;
    -fx-font-size: 18;
}

.date-picker-popup > .day-cell {
    -fx-background-color: rgba(74, 110, 78, 0.15);
    -fx-padding: 3px 3px 3px 3px;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-font-family: "Calibri Light";
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: #6a986d;
}

.date-picker-popup > * > .selected {
    -fx-background-color: #6a986d
}

.date-picker-popup > * > .today {
    -fx-background-color: #99e29d;
}